$color-dark: #2f6485;
$color-main: #fff;
$color-darker: #143a4f;
$controls-panel-width: 300px;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
}

#toggle-menu {
    display: none;
}

#root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 100vh;

    #oes-canvas-cont {
        background-color: rgba(55, 55, 55);
        display: flex;
        height: 100%;
        flex-grow: 1;
    }

    #logo {
        font-weight: bold;
        margin: 10px 0px;
        font-size: 1.2rem;
    }


    #controls-cont {
        padding:5px;
        display: flex;
        height: 100%;
        flex-direction: column;
        width: $controls-panel-width;


        button, select  {
            margin: 3px;
            padding: 10px;
            border-radius: 5px;
            transition: background 0.1s ease-in-out;
            border: 1px solid $color-darker;

        }

        button {
            cursor: pointer;
            background-color:  $color-dark;
            color: $color-main;

            &:hover {
                background-color: $color-darker;
            }

            &:active {
                border-color: $color-main;
            }
        }

        select {
            background-color: $color-main;
            color: $color-darker;
        }
    }
    
}
